@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


body {
  background-color: #061229;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.title {
  font-family: 'Kalam';
  color: #fff;
  font-size: 4rem;
  margin-bottom: 2rem;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  border-radius:10px;
  width: 30rem;
  height: 1.5rem;
}

.input input {
  font-size: 2rem;

}

.copy {
  height: 2rem;
  display: inline-flex;
}

.footer {
  color: #fff;
}

.footer .socmeds img{
  width: 2rem;
}

button {
  background-color: transparent;
  border: none;
}